<html style="background:#141414">

<head>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        function delayedRedirect() {
            window.location = "/"
        }
    </script>
</head>

<body onLoad="setTimeout('delayedRedirect()', 3000)">
    <h1 style="color:#FFD6A9; text-align: center; font-family: 'Indie Flower', cursive;">Thank you for your payment, you will be redirected soon</h1>
</body>

</html>
