<!--Created by Jake Reynolds
jakereynolds.co-->
<html>

<head>
    <title>Trevor Dillon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
    <section id="header">
        <h1>Trevor Aarsvold</h1>
        <!--<h3>artist</h3>-->
        <h3>Minneapolis, Mn</h3>
        <div id="instagram">
            <div id="instaImageContainer">
            </div>
        </div>
    </section>
    <section id="mainContent">
        <h2>About me</h2>
        <p>My name is Trevor Aarsvold, I'm a 21 year old tattoo artist working in Minneapolis, Mn.</p>
        <p>I love working with traditional and new school tattoos.</p>
        <p>To schedule an appointment, please call me at (952)-358-0210. Drawings will be made once an appointment is scheduled.</p>
    </section>

<!-- Leaving in for posterity
    <section id="appointments">
        <h2>Appointments</h2>
        <p>To schedule an appointment, please call me at (952)-358-0210. Drawings will be made once an appointment is scheduled.</p>
        <p>To make a deposit please see below.</p>
    </section>
    <section id="information">
        <h2>Information</h2>
        <p>Click below to make a deposit. Deposits are $60 with a $2 convenience fee. They can also be made in person.</p>
        <form class="stripeForm" action="/charge" method="post">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="Deposit Non-Refundable" data-amount="6200"></script>
        </form>
        <p>Phone: 952-358-0210</p>
    </section>
-->

    <footer>
        <div id="socialMediaLinks">
            <a href="https://www.instagram.com/trevordillonart" title="View my instagram" target="_blank"><img id="socialMediaBadge" src="{{ url_for('static', filename='images/Instagram_Icon_Large.png') }}" />
            </a>
            <a href="https://www.facebook.com/trevor.aarsvold?fref=ts" title="Check out my facebook" target="_blank"><img id="socialMediaBadge" src="{{ url_for('static', filename='images/Facebook_Icon.png') }}" />
            </a>
        </div>
    </footer>
    <script type='text/javascript' src='https://plasso.co/embed/v2/embed.js'></script>
</body>

</html>